{
  "presets": ["@babel/react"],
  "plugins": [
    "babel-plugin-transform-class-properties",
    [
      "import", {
        "libraryName": "antd",
        "libraryDirectory": "es"
      }
    ]
  ]
}