<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>polc</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <link href="./index.less" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but polc doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="root" class="container"></div>
    <!-- built files will be auto injected -->
    <script src="./index.js"></script>
  </body>
</html>
